<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body>
    <div class="container p-5">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <form action="/imputaciones/add" method="POST">
                        <div class="row justify-content-center">
                            <div class="form-group col-5">
                                <input type="date" class="form-control" name="fecha" placeholder="fecha" aria-label="Default select example" autofocus required>
                            </div>
                            <br>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-5">
                                <select name="comunidad" class="form-control" id="selectors" required>
                                    <option></option>
                                    <option value="Comunidad 1">Comunidad 1</option>
                                    <option value="Comunidad 2">Comunidad 2</option>
                                    <option value="Comunidad 3">Comunidad 3</option>
                                    <option value="Comunidad 4">Comunidad 4</option>
                                    <option value="Comunidad 5">Comunidad 5</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-2">
                                <input class="form-control float-left" type="number" placeholder="Horas" min="0" max="23" name="horas" required>
                            </div>
                            <div class="col-1 text-center">
                                <span>:</span>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control float-right" type="number" placeholder="Minutos" min="0" max="59" name="minutos" required>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-success">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <div class="card-body">
                        <img src="img/logoSimasport.png" alt="Logo de Simasport" class="card-img-top mx-auto m-2 w-50">
                        <br><br>
                        <form action="/signup" method="POST">
                            <div class="form-group">
                                <input type="date" class="form-control" name="fecha" placeholder="fecha" aria-label="Default select example" autofocus required>
                            </div>
                            <div class="form-group">
                                <select name="comunidad" class="form-control" id="selector" required>
                                    <option></option>
                                    <option value="Comunidad 1">Comunidad 1</option>
                                    <option value="Comunidad 2">Comunidad 2</option>
                                    <option value="Comunidad 3">Comunidad 3</option>
                                    <option value="Comunidad 4">Comunidad 4</option>
                                    <option value="Comunidad 5">Comunidad 5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="contraseña" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Registrarse</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var initSelector = jQuery.noConflict();
    initSelector(document).ready(function() {
    if(initSelector("#selector").length > 0){
        initSelector('#selector').select2({
        placeholder: 'Selecciona una comunidad',
        allowClear: true,
        language: {
            noResults: function(){
                return "No hay resultados";
            },
            searching: function(){
                return "Buscando...";
            }
        }
    });
    }else{
        console.log("No existe selector");
    }
});
</script>
</body>
</html>