<html>
  <body>

    <div class="container p-4">
      <div class="row">
        {{#each results}}
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: rgb(202, 202, 202); border-color: black;" >
                    <div>
                        <div>
                            <p class="mb-1">Nombre: {{fullname}}</p>
                            <p class="mb-1">Usuario: {{username}}</p>
                        </div>    
                        <div class="w-100 text-center">
                            <a class="btn btn-danger m-1" href="/imputaciones/delete/{{id}}">Borrar</a>
                        </div> 
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text center">
                    <p>No hay usuarios registrados.</p>
                </div>
            </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>