<body>
    <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <div class="card-body">
                        <img src="img/logoSimasport.png" alt="Logo de Simasport" class="card-img-top mx-auto m-2 w-50">
                        <br><br>
                        <form action="/signup" method="POST">
                            <div class="form-group">
                                <input type="text" name="fullname" placeholder="nombre" class="form-control" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" placeholder="usuario" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="contraseña" class="form-control" required>
                            </div>
                            <div class="form-group">
                                Permiso de administración:<input type="checkbox" name="permisoDeAdministracion">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Registrarse</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>