<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="img/logoSimasport.png" alt="Logo de Simasport" class="card-img-top mx-auto m-2 w-50">
            <h3 class="mb-5">
                <em>Bienvenido a TimeReportSimasport! Una aplicación para contabiliazar tus horas de trabajo.</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empezar!
            </a>
            <button>BOTON</button>
        </div>
        <div class="overlay"></div>
    </header>
</main>